{% load custom_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <title>Add New Topic</title>
    <link rel="stylesheet" href="{% static 'css/add_new_topic_style.css' %}">
</head>
<body>

    <header>

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Light_bulb_%28yellow%29_icon.svg/2048px-Light_bulb_%28yellow%29_icon.svg.png" alt="student-forum-logo">
        <p class="title-name"><a href="{% url 'main-page' %}">Student Forum</a></p>

        <nav>

            <ul class="nav-links">
                <li>
                    <a href="{% url 'subjects-list' %}">Home</a>
                </li>
                <li>
                    <a href="#about-us-section">About</a>
                </li>
            </ul>

        </nav>

        {% if not request.user.is_authenticated %}
            <button><a href="{% url 'register-user' %}">Sign Up</a></button>
        {% else %}
            <button><a href="{% url 'logout-user' %}">Log Out</a></button>
            {% if not request.user.is_superuser %}
                <a href="{% url 'details-user' %}"><i class="fa-solid fa-user"></i></a>
            {% endif %}
        {% endif %}

    </header>

    <form method="POST" action="{% url 'add-new-topic' subject_id=subject_id user_id=request.user.id %}">

        {% csrf_token %}

        <p class="add-new-topic-title">Add new topic</p>
        <p class="subject-name">{{ subject_name }}</p>

        <section class="input-fields">
            {{ form.name|placeholder:"Title" }}
            {{ form.description|placeholder:"Description" }}
        </section>

        <button>
            Add Topic
        </button>

    </form>

    <div class="line-break-sections"></div>

    <section class="about-us" id="about-us-section">

        <h3>About</h3>

        <p>Welcome to the <span>Student Forum</span>! I'm Raya Petkova, the creator of this platform. As a student at Language School "Prof. Dr. Zlatarov" in Haskovo, I saw the need for a space where students and teachers can freely discuss various subjects. With that goal in mind, I developed this platform to foster collaboration and learning among our users.</p>
        <p>The Student Forum provides a user-friendly interface for students, teachers, and external users to engage in discussions, share knowledge, and connect with peers. Whether you're seeking academic support, facilitating discussions, or sharing insights, you'll find a welcoming community here.</p>
        <p>Join us as we embark on this journey to create a vibrant hub for education and collaboration. Together, let's shape the future of learning.</p>

        <div class="regards">
            <p>Warm regards,</p>
            <p>Raya Petkova</p>
            <p>Founder, Student Forum</p>
        </div>

    </section>

</body>
</html>