{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{% static 'css/after_login_main_page.css' %}">
</head>
<body>

    <header>

        <nav>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Light_bulb_%28yellow%29_icon.svg/2048px-Light_bulb_%28yellow%29_icon.svg.png" alt="student-forum-logo">

            <span class="title-name">Student Forum</span>
        </nav>

    </header>

    <div class="side-bar-main-info">
        <aside>
            <a href="{% url 'main-page' %}">Home</a>
            <a href="#">About us</a>
        </aside>

        <main>

            <h3>Subjects</h3>

            <div class="search-bar">
                <input type="text" placeholder="Search subject...">
                <button><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/OOjs_UI_icon_search-ltr-progressive.svg/2048px-OOjs_UI_icon_search-ltr-progressive.svg.png" alt=""></button>
            </div>

            <article>
                <h6>History</h6>
                <p>These are the subject's topics</p>
            </article>

            <article>
                <h6>English</h6>
                <p>These are the subject's topics</p>
            </article>

            <article>
                <h6>Chemistry</h6>
                <p>These are the subject's topics</p>
            </article>

            <article>
                <h6>Physics</h6>
                <p>These are the subject's topics</p>
            </article>

        </main>

        <aside class="social-media-links">
            <a href="https://www.instagram.com/student_forum_bg?utm_source=ig_web_button_share_sheet&igsh=YzAwZjE1ZTI0Zg==" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" alt="instagram-icon">
            </a>
        </aside>

    </div>

</body>
</html>