{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{% static 'css/after_login_main_page.css' %}">
</head>
<body>


    <header>

        <a href="{% url 'main-page' %}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Light_bulb_%28yellow%29_icon.svg/2048px-Light_bulb_%28yellow%29_icon.svg.png" alt="student-forum-logo"></a>
        <p class="title-name"><a href="{% url 'main-page' %}">Student Forum</a></p>

        <nav>

            <ul class="nav-links">
                <li>
                    <a href="{% url 'subjects-list' %}">Home</a>
                </li>
                <li>
                    <a href="#">About us</a>
                </li>
            </ul>

        </nav>

        {% if request.user.is_authenticated %}
            <button><a href="{% url 'logout-user' %}">Log Out</a></button>
        {% endif %}


    </header>

    <main>

        <h3>Subjects</h3>

        <div class="search-bar-and-add">

            <div class="search-bar">
                <input type="text" placeholder="Search subject...">
                <button><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/OOjs_UI_icon_search-ltr-progressive.svg/2048px-OOjs_UI_icon_search-ltr-progressive.svg.png" alt=""></button>
            </div>

            {% if request.user.is_superuser %}
                <a href="{% url 'add-new-subject' %}"><i class="fa-solid fa-plus"></i></a>
            {% endif %}
        </div>

        {% for object in object_list %}
            <article>

                <a href="{% url 'subject-topics' subject_id=object.id %}">
                    <h6>{{ object.name }}</h6>
                    <p>{{ object.description }}</p>
                </a>

            </article>
        {% endfor %}

        <!-- <img src="blue_wave.png" alt="blue-wave" class="blue-wave-"> -->

    </main>

        <!-- <aside class="social-media-links">
            <a href="https://www.instagram.com/student_forum_bg?utm_source=ig_web_button_share_sheet&igsh=YzAwZjE1ZTI0Zg==" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" alt="instagram-icon">
            </a>
        </aside> -->


</body>
</html>