{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{% static 'css/subject_topics_style.css' %}">
</head>
<body>


    <header>

        <a href="{% url 'main-page' %}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Light_bulb_%28yellow%29_icon.svg/2048px-Light_bulb_%28yellow%29_icon.svg.png" alt="student-forum-logo"></a>
        <p class="title-name"><a href="{% url 'main-page' %}">Student Forum</a></p>
                
        <nav>
            <ul class="nav-links">
                <li>
                    <a href="{% url 'main-page' %}">Home</a>
                </li>
                <li>
                    <a href="#">About us</a>
                </li>
            </ul>
        </nav>

        <button><a href="{% url 'register-user' %}">Sign Up</a></button>
        
    </header>

    <main>

        <h3>Topics</h3>

        <div class="search-bar-and-add">

            <div class="search-bar">
                <input type="text" placeholder="Search topic...">
                <button><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/OOjs_UI_icon_search-ltr-progressive.svg/2048px-OOjs_UI_icon_search-ltr-progressive.svg.png" alt=""></button>
            </div>

            {% if perms.topics.add_topic %}
                <a href="{% url 'add-new-topic' subject_id=subject_id user_id=request.user.id %}"><i class="fa-solid fa-plus"></i></a>
            {% endif %}
        </div>

        {% for topic in topics %}

            <article>
                <a href="{% url 'topic-comments' topic_id=topic.id %}">
                    <h6>{{ topic.name }}</h6>
                    <p>Author: {{ topic.user.profileuser.first_name }} {{ topic.user.profileuser.last_name }}</p>
                </a>
            </article>

        {% endfor %}

        <!-- <img src="blue_wave.png" alt="blue-wave" class="blue-wave-"> -->
                
    </main>

        <!-- <aside class="social-media-links">
            <a href="https://www.instagram.com/student_forum_bg?utm_source=ig_web_button_share_sheet&igsh=YzAwZjE1ZTI0Zg==" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" alt="instagram-icon">
            </a>
        </aside> -->

    
</body>
</html>