{% load custom_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Forum LogIn</title>
    <link rel="stylesheet" href="{% static 'css/login_page.css' %}">
</head>
<body>

    <header>

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Light_bulb_%28yellow%29_icon.svg/2048px-Light_bulb_%28yellow%29_icon.svg.png" alt="student-forum-logo">
        <p class="title-name">Student Forum</p>

        <nav>

            <ul class="nav-links">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About us</a>
                </li>
            </ul>

        </nav>

        <button><a href="{% url 'register-user' %}">Sign Up</a></button>

    </header>



    <form method="POST" action="{% url 'login-user' %}">

        {% csrf_token %}

        <p class="login-title">Log In</p>

        {{ form.username|placeholder:'Email' }}
        {{ form.password|placeholder:'Password' }}

        <button>
            Log In
        </button>

        <p class="sign-up-new-account">
            <span>Don't have an account?: </span>
            <span><a href="{% url 'register-user' %}">Sign Up</a></span>
        </p>

    </form>

</body>
</html>