{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Forum Register</title>
    <link rel="stylesheet" href="{% static 'css/register_page.css' %}">
</head>
<body>

    <header>

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Light_bulb_%28yellow%29_icon.svg/2048px-Light_bulb_%28yellow%29_icon.svg.png" alt="student-forum-logo">
        <p class="title-name">Student Forum</p>
                
        <nav>
            
            <ul class="nav-links">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About us</a>
                </li>
            </ul>

        </nav>

        <button>Log In</button>
        
    </header>

    

    <form method="POST" action="{% url 'register-user' %}">

        <p class="register-title">Register</p>

        <p class="register-labels-and-inputs">
            <label for="first-name-field">First name</label>
            <input type="text" placeholder="Enter your first name" class="first-name-input" id="first-name-field">
        </p>

        <p class="register-labels-and-inputs">
            <label for="last-name-field">Last name</label>
            <input type="text" placeholder="Enter your last name" class="last-name-input" id="last-name-field">
        </p>

        <p class="register-labels-and-inputs">
            <label for="email-field">Email</label>
            <input type="text" placeholder="Enter your email" class="first-input" id="email-field">
        </p>

        <p class="register-labels-and-inputs">
            <label for="password-field">Password</label>
            <input type="password" placeholder="Password" class="second-input" id="password-field">
        </p>

        <button>
            Sign Up
        </button>
        
        <p class="login-account">
            <span>Already have an account?: </span>
            <span><a href="{% url 'login-user' %}">Log In</a></span>
        </p>

    </form>

</body>
</html>
