{% load custom_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <title>Profile Details</title>
    <link rel="stylesheet" href="{% static 'css/details_user_styling.css' %}">
</head>
<body>

    <header>

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Light_bulb_%28yellow%29_icon.svg/2048px-Light_bulb_%28yellow%29_icon.svg.png" alt="student-forum-logo">
        <p class="title-name"><a href="{% url 'main-page' %}">Student Forum</a></p>

        <nav>

            <ul class="nav-links">
                <li>
                    <a href="{% url 'subjects-list' %}">Home</a>
                </li>
                <li>
                    <a href="#about-us-section">About</a>
                </li>
            </ul>

        </nav>

        {% if not request.user.is_authenticated %}
            <button><a href="{% url 'register-user' %}">Sign Up</a></button>
        {% else %}
            <button><a href="{% url 'logout-user' %}">Log Out</a></button>
            {% if not request.user.is_superuser %}
                <a href="{% url 'details-user' %}"><i class="fa-solid fa-user"></i></a>
            {% endif %}
        {% endif %}

    </header>

    <section class="details-profile">
        <h2>Profile Details</h2>
        <p><span>Email:</span> {{ request.user.email }}</p>
        <p><span>First name:</span> {{ object.first_name }}</p>
        <p><span>Last name:</span> {{ object.last_name }}</p>
        <p><span>Role:</span> {{ object.role }}</p>

        <div class="buttons">
            <a class="edit-button" href="{% url 'edit-user' %}">Edit</a>
            <a class="delete-button" href="{% url 'delete-user' %}">Delete</a>
        </div>
    </section>

    <div class="line-break-sections"></div>

    <section class="about-us" id="about-us-section">

        <h3>About</h3>

        <p>Welcome to the <span>Student Forum</span>! I'm Raya Petkova, the creator of this platform. As a student at Language School "Prof. Dr. Zlatarov" in Haskovo, I saw the need for a space where students and teachers can freely discuss various subjects. With that goal in mind, I developed this platform to foster collaboration and learning among our users.</p>
        <p>The Student Forum provides a user-friendly interface for students, teachers, and external users to engage in discussions, share knowledge, and connect with peers. Whether you're seeking academic support, facilitating discussions, or sharing insights, you'll find a welcoming community here.</p>
        <p>Join us as we embark on this journey to create a vibrant hub for education and collaboration. Together, let's shape the future of learning.</p>

        <div class="regards">
            <p>Warm regards,</p>
            <p>Raya Petkova</p>
            <p>Founder, Student Forum</p>
        </div>

    </section>

</body>
</html>
