{% load custom_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Forum Register</title>
    <link rel="stylesheet" href="{% static 'css/details_user_styling.css' %}">
</head>
<body>

    <header>

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Light_bulb_%28yellow%29_icon.svg/2048px-Light_bulb_%28yellow%29_icon.svg.png" alt="student-forum-logo">
        <p class="title-name"><a href="{% url 'main-page' %}">Student Forum</a></p>

        <nav>

            <ul class="nav-links">
                <li>
                    <a href="{% url 'subjects-list' %}">Home</a>
                </li>
                <li>
                    <a href="#">About us</a>
                </li>
            </ul>

        </nav>

        {% if not request.user.is_authenticated %}
            <button><a href="{% url 'register-user' %}">Sign Up</a></button>
        {% else %}
            <button><a href="{% url 'logout-user' %}">Log Out</a></button>
            <a href="{% url 'details-user' %}"><i class="fa-solid fa-user"></i></a>
        {% endif %}

    </header>

    <section>
        <h2>Profile Details</h2>
        <p><span>Email:</span> {{ request.user.email }}</p>
        <p><span>First name:</span> {{ object.first_name }}</p>
        <p><span>Last name:</span> {{ object.last_name }}</p>
        <p><span>Role:</span> {{ object.role }}</p>

        <div class="buttons">
            <a class="edit-button" href="{% url 'edit-user' %}">Edit</a>
            <a class="delete-button" href="{% url 'delete-user' %}">Delete</a>
        </div>
    </section>

</body>
</html>
