@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');


html {
    scroll-behavior: smooth;
}

body {
    background-color:rgb(7 14 39);
    margin: 0;
    font-family: "Century Gothic";
    font-size: 12px;
}






header {
    display: flex;
    padding: 1.2em 3em;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    border-bottom: solid;
    border-color: rgba(255, 255, 255, 0.067);
    border-width: 0.1em;
}

header img {
    width: 3em;
    height: 3em;
}

header p a {
    text-decoration: none;
    color: white;
}

header nav {
    margin-left: auto;
}

header nav .nav-links {
    display: flex;
    gap: 2em;

}

header nav .nav-links li {
    list-style: none;
}

header nav .nav-links li a {
    text-decoration: none;
    color: white;
}

header nav .nav-links li a:hover {
    color: rgba(255, 255, 255, 0.69);
}

header button {
    background-color: rgb(22 32 68);
    border-style: none;
    border-radius: 0.2em;
    padding: 0.5em 0.5em;
    margin-left: 2em;
    cursor: pointer;
}

header button:hover {
    background-color: rgb(72, 83, 121);
}

header button a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.595);
}

header button:hover a {
    color: rgb(7, 11, 24);
}

i {
    color: rgba(255, 255, 255, 0.595);
    margin-left: 0.7em;
    font-size: 1.5em;
}










form {
    display: flex;
    background-color: rgb(32 41 78);
    flex-direction: column;
    align-items: center;
    width: 40em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
    padding: 1.3em 4em;
    border-style: solid;
    border-radius: 1.5em;
    border-color: rgba(255, 255, 255, 0.595);
    border-width: 0.2em;
}

form .register-title {
    color: rgba(255, 255, 255, 0.521);
    font-size: 3em;
    font-weight: 800;
    margin: 0.3em;
}

form p {
    font-size: 1.5em;
}

form button {
    width: 55%;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-top: 1em;
    border-style: solid;
    border-radius: 0.8em;
    background-color: rgb(91, 101, 143);
    cursor: pointer;
}

form button:hover {
    background-color: rgb(130, 140, 178);
}

form .login-account {
    margin-top: 0.5em;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.595);
}

form .login-account a {
    color: rgba(241, 238, 244, 0.275);
}

form .login-new-account a:visited {
    color: rgb(241, 238, 244);
}

form .login-new-account a:hover {
    color: rgba(255, 255, 255, 0.489);
}

form .form-input-fields {
    margin-top: 1.5em;
    width: 50%;
    background: none;
    border: none;
    border-bottom: solid;
    border-bottom-width: 0.15em;
    border-bottom-color: rgba(255, 255, 255, 0.521);
    font-size: 1.18em;
    color: rgba(255, 255, 255, 0.521);
}

form .form-input-fields:focus {
    outline: none;
}

form .form-input-role {
    background-color: rgb(32 41 78);
    color: rgba(255, 255, 255, 0.521);
    margin-top: 1.6em;
    margin-bottom: 0;
    border: solid 1px rgba(255, 255, 255, 0.521);
    border-radius: 5px;
    width: 30%;
    padding: 5px;
}









div.line-break-sections {
    background-color: rgba(255, 255, 255, 0.521);
    width: 100%;
    height: 1px;
    margin-top: 8%;
}









section.about-us {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 8em auto 8em auto;
}

section.about-us h3 {
    align-self: center;
}

section.about-us h3, section.about-us p{
    color: rgba(255, 255, 255, 0.521);
}

section.about-us h3 {
    font-size: 3em;
}

section.about-us p {
    font-size: 1.3em;
    line-height: 1.4em;
}

section.about-us p span {
    font-weight: 600;
}

section.about-us .regards, section.about-us .regards p {
    line-height: 0.6em;
}






@media screen and (max-width: 600px) {
    body {
        font-size: 8px;
    }

    section.about-us {
        width: 80%;
    }
}









/* footer {
    background-color: #004080;
    margin-top: 162px;
    padding: 55px;
} */

