@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');


html {
    scroll-behavior: smooth;
}

body {
    background-color:rgb(7 14 39);
    margin: 0;
    font-family: "Century Gothic";
    font-size: 12px;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}






header {
    display: flex;
    padding: 1.2em 3em;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    border-bottom: solid;
    border-color: rgba(255, 255, 255, 0.067);
    border-width: 0.1em;
}

header img {
    width: 3em;
    height: 3em;
}

header p a {
    text-decoration: none;
    color: white;
}

header nav {
    margin-left: auto;
}

header nav .nav-links {
    display: flex;
    gap: 2em;

}

header nav .nav-links li {
    list-style: none;
}

header nav .nav-links li a {
    text-decoration: none;
    color: white;
}

header nav .nav-links li a:hover {
    color: rgba(255, 255, 255, 0.69);
}

header button {
    background-color: rgb(22 32 68);
    border-style: none;
    border-radius: 0.2em;
    padding: 0.5em 0.5em;
    margin-left: 2em;
    cursor: pointer;
}

header button:hover {
    background-color: rgb(72, 83, 121);
}

header button a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.595);
}

header button:hover a {
    color: rgb(7, 11, 24);
}

i {
    color: rgba(255, 255, 255, 0.595);
    margin-left: 0.7em;
    font-size: 1.5em;
}







section.main-section {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}

section .left-side {
    color: rgba(255, 255, 255, 0.521);
    margin-left: 5%;
    margin-top: 2%;
    flex-wrap: wrap;
    width: 40%;
}

section .left-side h1 {
    font-size: 4em;
    margin-bottom: 0em;
}

section .left-side h3 {
    font-size: 1.2em;
    font-weight: 100;
}

section .left-side .title-and-logo {
    display: flex;
    align-items: center;
    margin-top: 5em;
}

section .left-side .title-and-logo h2 {
    font-size: 3em;
    width: 45%;
    flex-wrap: wrap;
}

body section .left-side .title-and-logo hr {
    height: 5em;
    margin-left: 0.1em;
    margin-right: 0.8em;
}

body section .left-side .title-and-logo img {
    height: auto;
    width: 6em;
    margin-left: 0.2em;
}





body section .right-side {
    display: flex;
    width: 60%;
}

section .right-side img {
    height: 50em;
    width: 100%;
    border-top-left-radius: 1em;
}








div.line-break-sections {
    background-color: rgba(255, 255, 255, 0.521);
    width: 100%;
    height: 1px;
    margin-top: 8%;
}







section.about-us {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 8em auto 0 auto;
}

section.about-us h3 {
    align-self: center;
}

section.about-us h3, section.about-us p{
    color: rgba(255, 255, 255, 0.521);
}

section.about-us h3 {
    font-size: 3em;
}

section.about-us p {
    font-size: 1.3em;
    line-height: 1.4em;
}

section.about-us p span {
    font-weight: 600;
}

section.about-us .regards, section.about-us .regards p {
    line-height: 0.6em;
}


@media screen and (max-width: 700px) {

    body {
        font-size: 8px;
    }

    section.main-section {
        flex-direction: column;
    }

    section .right-side {
        display: flex;
        justify-content: center;
        margin: 0;
        align-self: center;
    }

    section .right-side img {
        width: 45em;
        margin-top: 4em;
    }

    section .left-side {
        margin-left: 15%;
        margin-top: 5%;
        flex-wrap: wrap;
        width: 70%;
    }
}
